img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
hr {
	width: 60%;
	position: relative;
}
.inline-block-track > * { display: inline-block; }

.buttons { text-align: center; 
			margin-top: 30px;
}

.shape {
	height: 2em;
	width: 1em;
	border: .1em solid black;
	margin-left: auto;
    margin-right: auto;
    width: 50px;
}
.start {
	width: 6.5%;
	float: left;}
.finish { 
	width: 5%;
	float: right;
}
.gameboard {
	margin-top: 100px;
}