
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
hr {
	position: absolute;
}
h3 {
	position: relative;
	top: 200px;
}

.inline-block > * { display: inline-block; }

.button { text-align: center; 
			margin-top: 30px;
}

/* Images / Avatars */

.startln {
	width: 7%;
	float: left;
	margin-top: 30px}
.finishln { 
	width: 5%;
	float: right;
	margin-top: 35px;
}
#sonicguy {
	position: absolute;
	margin-top: 1px;
	margin-left: -23px;
	width: 9%;
	left: 0;
}
#knucklesguy {
	position: absolute;
	margin-top: 82px;
	margin-left: -13px;
	width: 8%;
	left: 0;
}

/* Gameboard / Lanes */

#sonicontainer {
	position: relative;
	height: 165px;
	width: 85%;
	border: 1px;
	margin: 0 auto;
}
.soniclanes {
	position: absolute;
	top: 305px;
	left: 68px;
}
.knucklanes {
	position: absolute;
	top: 387px;
	left: 68px;

}
.lane {
	position: relative;
	outline: 1px solid black;
	background-color: yellow;
	height: 5px;
	width: 25px;
	line-height: 2px;
	left: 50px;
}

/* Player text & Forms */


.player1 {
	float: left;
	top: 100px;
	left: 25px;
}
.player2 {
	float: right;
	top: 100px;
	right: 25px;
}
.scoreboard {
	text-align: center;
	margin-top: 150px;
}