img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
hr {
	width: 75%;
	position: relative;
}
.inline-block-track > * { display: inline-block; }

.buttons { text-align: center; 
			margin-top: 30px;
}
/*
.shape {
	height: 2em;
	width: 1em;
	border: .1em solid black;
	margin-left: auto;
    margin-right: auto;
    width: 50px;
}*/
.sprtsize {
	width: 3%;
}
.start {
	width: 6.5%;
	float: left;
	margin-top: 30px}
.finish { 
	width: 5%;
	float: right;
	margin-top: 35px;
}
.gameboard {
	margin-top: 100px;
	height: 150px;
	width: 0 auto;
	position: relative;
	outline: 1px solid black;
}
.sonic {
	position: absolute;
	margin-top: 10px;
	margin-left: 100px;
}
.knuckles {
	position: absolute;
	margin-top: 85px;
	margin-left: 100px;
}